body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    position: relative;
}

.controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    z-index: 10;
    /* Ensure controls are above other elements */
}

.controls.expanded {
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.5);
    align-items: flex-start;
}

.panel-content {
    display: none;
    width: 100%;
}

.controls.expanded .panel-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: calc(20px + var(--toggle-button-height));
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    /* Ensure cursor changes to pointer */
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#backButton {
    position: fixed;
    /* Keep the button fixed under the toggle button */
    top: 80px;
    /* Adjust this value to add gap between the buttons */
    right: 20px;
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}

.controls.expanded #backButton {
    display: none;
    /* Hide the back button when the panel is expanded */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
    /* Ensure canvas is below controls */
}

#toggleButton {
    --toggle-button-height: 40px; /* Define the height variable */
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
    height: var(--toggle-button-height); /* Use the variable for height */
}

.controls.expanded .panel-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: calc(20px + var(--toggle-button-height));
}

.controls.expanded .panel-content .button-row {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons */
    margin-bottom: 10px;
}

.controls.expanded .panel-content .slider-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}